<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <%- include('../partials/header') %>
        <%- include('../partials/menu') %>

</head>

<body>
    <div class="container">
        <h1>Listado de clientes</h1>
        <form action="/clientes" method="post">
            <div class="form-group">
                <label for="Nombre">Nombre:</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="Apellido" name="Apellido">
            </div>
            <button type="submit" class="btn btn-primary">Nuevo Cliente</button>
        </form>

        <% if (clientes.length===0) { %>
            <p>No hay clientes registrados.</p>
            <% } else { %>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% arrClientes.forEach((cliente)=> { %>
                            <tr>
                                <td>
                                    <%= cliente.Id %>
                                </td>
                                <td>
                                    <%= cliente.Nombre %>
                                </td>
                                <td>
                                    <%= cliente.Apellido %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <% } %>
    </div>

    <%- include('../layouts/footer.html') %>
</body>

</html>